/* this is the style page */

#menuList {
  /*font-family: 'Charmonman', 'Comic Sans MS';*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #348060;
  float: middle;
  display: block;
  color: white;
  text-align: center;
  padding: 2px 2px;
  text-decoration: none;
  background-color: #348060;
}

#m1 {
  float: left;
}

#m1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#m1 a:hover {
  background-color: #7ea859;
}

body {
    background-color:#ffd8cc;
    /* #f7e2d7 light pink*/
}
 
h1 {
    color: #348060;
    text-align: center;
}

h2 {
    color: #5d225d;
    /*orange color:e87c64*/
    text-align: center;
}

ul {
  margin-right: 300px;
}

p {
    color: black;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 60spx;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #f5426c;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

a {
  margin-top:5px;
  margin-right:5px;
  margin-bottom:5px;
  margin-left:5px;
}