/* this is the style page */
#menuList {
  /*font-family: 'Charmonman', 'Comic Sans MS';*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4d004d;
  /*#004d00;orig grn*/
  float: middle;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

#m1 {
  float: left;
}

#m1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

#m1 a:hover {
  background-color: #800080;
}

body {
    font-family: "Castoro";
    background-color: #FFECE7;
    /*#ffd8cc;*/
    /* #f7e2d7 light pink*/
}
 
h1 {
    color: #386150;
    text-align: center;
    padding: 5px 5px;  
    font-size: 40pt;
    width: 300px;
}

h2 {
    color: #e56b70;
    /*orange color:e87c64*/
    text-align: center;
    padding: 5px 5px;
    width: 300px;
}

ul {
  margin-right: 300px;
}

p {
    color: black;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 60spx;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
  font-family: "Charmonman";
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #f5426c;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

a {
  margin-top:5px;
  margin-right:5px;
  margin-bottom:5px;
  margin-left:5px;
}

.bigger {
  font-size: 15pt;
}